In [1]:
import pandas as pd
from textblob import TextBlob

# Load dataset
df = pd.read_csv("Twitter.csv")

# Extract tweets from the dataset column
tweets_column = "tweet"  # Replace with the name of the column containing tweets
tweets = df[tweets_column].tolist()

# Analyze sentiment of each tweet
sentiments = []
polarities = []
for tweet in tweets:
    analysis = TextBlob(str(tweet))
    polarity = analysis.sentiment.polarity
    polarities.append(polarity)
    if polarity > 0:
        sentiments.append("Positive")
    elif polarity < 0:
        sentiments.append("Negative")
    else:
        sentiments.append("Neutral")

# Add sentiment analysis results to the dataframe
df["Polarity"] = polarities
df["Sentiment"] = sentiments

# Display sentiment analysis results
df.head() # Display the first few rows of the dataframe with sentiment analysis results

,id,label,tweet,Polarity,Sentiment
0,1,0,@user when a father is dysfunctional and is s...,-0.500000,Negative
1,2,0,@user @user thanks for #lyft credit i can't us...,0.200000,Positive
2,3,0,bihday your majesty,0.000000,Neutral
3,4,0,#model i love u take with u all the time in ...,0.976562,Positive
4,5,0,factsguide: society now #motivation,0.000000,Neutral

In [2]:
df.tail()

,id,label,tweet,Polarity,Sentiment
31957,31958,0,ate @user isz that youuu?ðððððð...,0.0,Neutral
31958,31959,0,to see nina turner on the airwaves trying to...,0.4,Positive
31959,31960,0,listening to sad songs on a monday morning otw...,-0.5,Negative
31960,31961,1,"@user #sikh #temple vandalised in in #calgary,...",0.0,Neutral
31961,31962,0,thank you @user for you follow,0.0,Neutral